<%= render 'shared/navbar', title: "#{@categories.name}", back_link: false %>

<%= link_to "new category", new_category_path %>

<% @categories.each do |category| %> 
  <div>
    <i class="fa-regular fa-burger-fries"></i>
    <%= link_to category.icon, category_path(category) %>
    <%= link_to category.name, category_path(category) %>
    <%= category.total_amount %>
  </div>
<% end %>
